@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header-content {
  padding: 50px 20px 100px 15px;
  background: #1c1a19;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: 200px 250px;
  background-position: bottom right;
}

.navigation {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  background: #3c3a39;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.work-pic-2 a {
  width: 100%;
  height: 48px;
  left: 0;
  top: 0;
  background: #ff6b00;
  padding-left: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-top: 15px;
  color: #fff;
}

.logo-my-name {
  width: 90px;
  text-decoration: solid;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.social-link a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

.work-content a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  color: #fff;
  padding: 10px;
  margin-left: 16px;
}

.About-me a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  width: 150px;
  height: 48px;
  padding-top: 16px;
  padding-right: 10px;
  padding-left: 16px;
  margin-left: 16px;
  text-decoration: none;
}

.social-link a:hover {
  color: blue;
  transition: 0.5s;
}

#logo .my-name a:hover {
  color: #fff;
}

.menu-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

.header-content h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  text-decoration: none;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-top: 50px;
  margin-bottom: 1px;
  color: #ff6b00;
}

.header-content h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 1px;
  color: #fff5e1;
}

.header-content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.social-link * {
  display: flex;
  padding: 1px;
}

.work-section {
  display: flex;
  padding-top: 40px;
  justify-content: center;
}

.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 24px;
  color: #1c1a19;
  border-bottom: 1px solid black;
  text-align: center;
}

.my-works {
  display: flex;
  flex-direction: column;
  padding: 3px;
  padding-left: 15px;
}

.work-pic-1 img {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.work-content {
  grid-row: 2/3;
  grid-column: 1/4;
  font-size: 10px;
}

.work-content h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-left: 16px;
}

.work-content p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-left: 16px;
}

.programming-languages {
  display: flex;
  align-items: left;
  padding: 3px;
  grid-gap: 5px;
}

.programming-languages p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  height: 30px;
  flex: none;
  justify-content: space-between;
  letter-spacing: 0.03em;
  margin-left: 16px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  color: #091e42;
  padding: 10px;
}

.work-pic-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 24px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('../img/work-img/work-2.png');
}

.work-pic-2 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: -20px;
  line-height: 44px;
  color: #fff;
  padding-left: 16px;
}

.work-pic-2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 16px;
}

.About-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding-right: 30px;
  margin-top: -20px;
  padding-left: 16px;
}

.About-me {
  background: #1c1a19;
  background-image: url("../img/background-2.svg");
  background-repeat: no-repeat;
  background-position: 100% 25.5%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 30px;
}

.About-me h2 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  font-style: normal;
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  width: 327px;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0;
  color: #fff;
  margin-top: 200px;
  border-top: 1px solid #fff;
}

.programming-li {
  margin: 0;
  padding: 0;
}

.lists-h1,
.lists-h2,
.lists-h3 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  list-style-type: none;
  width: fit-content;
  margin-left: auto;
  margin-top: auto;
}

.lists-h1 {
  padding-top: 100px;
  margin: 12px;
  list-style-image: url("../img/About-me/Dimond.png");
}

.lists-h2 {
  margin: 30px 0 12px 0;
  list-style-image: url("../img/About-me/Rectangle.png");
}

.lists-h3 {
  margin: 44px 0 12px 0;
  list-style-image: url("../img/About-me/Circle.png");
}

.lists-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
}
