@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  display: flex;
  background-color: #3c3a39;
  justify-content: space-between;
}

.logo-my-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 24px 24px 12px 24px;
  color: #fff;
  text-decoration: none;
}

.menu-bar {
  margin: 24px 24px 12px 24px;
}

.header-content {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  padding-top: 120px;
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: 130px 200px;
  background-position: bottom right;
}

.container h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 24px;
}

.container h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-left: 24px;
}

.container p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 24px;
}

.social-link {
  display: flex;
  margin: 24px;
}

.social-link ul {
  list-style-type: none;
}

.social-link li {
  padding-right: 17px;
  display: inline-block;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

.title {
  padding-top: 120px;
  margin: 24px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #1c1a19;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.my-works {
  margin: 24px;
}

.work-pic-1 {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.work-content {
  display: flex;
  flex-direction: column;
}

.work-content h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-bottom: 12px;
}

.work-content p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.programming-languages {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  color: #091e42;
}

.box-1 {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 5px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
}

.button-1 {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.button-1:hover {
  color: #ff6b00;
  background-color: #fff5e1;
}

.button-1:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.button-1:visited {
  color: #f55800;
  background: #fff5e1;
}

.work-pic-2 {
  display: flex;
  flex-direction: column;
  margin: 24px;
  background-image: url('../img/work-img/work-2.png');
}

.work-pic-2 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 16px;
  padding-top: 84px;
}

.work-pic-2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 16px;
}

.programming-languages-1 {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  grid-gap: 12px;
  margin: 16px;
}

.box {
  background: rgba(255, 255, 255, 0.24);
  padding: 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.button-2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  border: none;
  height: 48px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.button-2:hover {
  color: #ff6b00;
  background-color: #fff5e1;
}

.button-2:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.button-2:visited {
  color: #f55800;
  background: #fff5e1;
}

.About-me {
  padding-top: 120px;
  margin-top: 100px;
  background: #1c1a19;
  background-image: url('../img/background2.svg');
  background-repeat: no-repeat;
  background-position: 100%  23%;
  background-size: 200px 200px;
}

.About-me h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 24px;
}

.About-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-left: 24px;
}

.button-3 {
  width: 161px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 150px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 24px;
}

.button-3:hover {
  color: #ff6b00;
  background-color: #fff5e1;
}

.button-3:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.button-3:visited {
  color: #f55800;
  background: #fff5e1;
}

.lists {
  border-top: 1px solid #fff;
  margin: 24px;
  padding-top: 50px;
  padding-bottom: 120px;
}

.lists ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists h1 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  padding: 12px;
}

.lists ul li {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding: 12px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.contact-intro {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 120px;
  color: #172b4d;
}

.formspree {
  display: flex;
  flex-direction: column;
}

.form-list {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  width: 90%;
  border: none;
  margin-top: 24px;
  padding: 12px;
  border-bottom: 1px solid #979493;
}

#email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  border: none;
  margin-top: 24px;
  padding: 12px;
  width: 90%;
  border-bottom: 1px solid #979493;
}

#message {
  margin-right: 24px;
  padding: 12px;
  margin-top: 24px;
  width: 90%;
  margin-bottom: 12px;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

#button-4 {
  text-align: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  margin-bottom: 120px;
  background: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  align-self: center;
}

#button-4:hover {
  color: #ff6b00;
  background-color: #fff5e1;
}

#button-4:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

#button-4:visited {
  color: #f55800;
  background: #fff5e1;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

hr {
  height: 1px;
  background: #dfe1e6;
  border: none;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 12px;
  margin-bottom: 12px;
}

.link-list {
  display: inline-block;
  padding: 12px;
}

.hr {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-left: 120px;
}
